*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;;
}
.nav-2050{
    margin-right: 200px;
    
}
.nav-item{
    margin-right: 5px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(254, 254, 254)
}
.col-lg-6{
    margin-top: 75px;
}
.col-lg-5{
    margin-top: 75px;
}
.col-lg-7{
    margin-top: 75px;
}
.subtitle-1{
    font-size: 25px;
    font-weight: 700;
    color: rgb(129, 222, 246);
}
.subtitle-2{
    font-size: 25px;
    font-weight: 700;
    color: rgb(129, 222, 246);
}
.subtitle-3{
    font-size: 25px;
    font-weight: 700;
    color: rgb(129, 222, 246);
}
.subtitle-4{
    font-size: 30px;
    font-weight: 700;
    color: rgb(129, 222, 246);
}
.subtitle-5{
    padding-top: 50px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(129, 222, 246);
    margin-left: 550px;
}
.subtitle-6{
    padding-top: 50px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(129, 222, 246);
    margin-left: 20px;
}
.subtitle-7{
    padding-top: 35px;
    font-size: 25px;
    font-weight: 700;
    color: rgb(255, 255, 255);

}
.subtitle-8{
    padding-top: 25px;
    font-size: 25px;
    font-weight: 700;
    color: rgb(129, 222, 246);

}
.subtitle-9{
    padding-top: 250px;
    font-size: 25px;
    font-weight: 700;
    color: rgb(129, 222, 246);
    margin-left: 45%;
}
.title-1{
        font-size: 55px;
        font-weight: 700;
        color: rgb(254, 254, 254);
        padding-bottom:5px ;
    }
.title-2{
        font-size: 50px;
        font-weight: 700px;
        color: rgb(254, 254, 254);
        /* padding-bottom:5px ; */
}  
.title-3{
    font-size: 45px;
    font-weight: 700;
    color: rgb(254, 254, 254);
} 
.title-4{
    font-size: 30px;
    font-weight: 700;
    color: rgb(254, 254, 254);
    padding-bottom:5px ;
    margin-top: 30px;
} 
.title-5{
    font-size: 30px;
    font-weight: 700;
    color: rgb(254, 254, 254);
    padding-bottom:5px ;
    margin-top: 30px;
} 
.title-6{
    font-size: 30px;
    font-weight: 700;
    color: rgb(254, 254, 254);
    padding-bottom:5px ;
    margin-top: 30px;
} 
.title-7{
    font-size: 30px;
    font-weight: 700;
    color: rgb(254, 254, 254);
    padding-bottom:5px ;
    margin-top: 30px;
} 
.title-8{
    font-size: 45px;
    font-weight: 700;
    color: rgb(254, 254, 254);
    padding-bottom:5px ;
    margin-top: 30px;
} 
.title-9{
    font-size: 60px;
    font-weight: 700;
    color: rgb(254, 254, 254);
    padding-bottom:5px ;

    margin-left: 300px;
} 
.title-10{
    font-size: 60px;
    font-weight: 700;
    color: rgb(254, 254, 254);
    padding-bottom:75px ;
    margin-left: 500px;
} 
.title-11{
    margin-left: 85px;
    font-size: 30px;
    font-weight: 700;
    margin-right: 100px;
    font-weight: 800px;
    margin-top: 50px;
    padding-bottom: 50px;
} 
.title-12{
    margin-left: 75px;
    font-size: 25px;
    font-weight: 700;
    margin-right: 100px;
    font-weight: 800px;
    margin-top: 100px;
    padding-bottom: 50px;

} 
.title-13{
    font-size: 45px;
    font-weight: 700;
    color: rgb(254, 254, 254);
    padding-bottom:5px ;
    margin-top: 30px;
    margin-left: 20px;
}
.title-14{
    font-size: 45px;
    font-weight: 700;
    color: rgb(254, 254, 254);
    padding-bottom:5px ;
    margin-top: 10px;

}
.title-15{
    font-size: 45px;
    font-weight: 700;
    color: rgb(254, 254, 254);
    padding-bottom:5px ;
    margin-top: 10px;
    margin-left: 40%;

}
.par_lorem-1{
    font-size: 20px;
    line-height: 1.5;
    color: rgb(210, 193, 193);
    text-align: left;
    padding-bottom:10px ;
}
.par_lorem-2{
    font-size: 20px;
    line-height: 1.5;
    color: rgb(210, 193, 193);
    text-align: left;
}
.par_lorem-3{
    font-size: 20px;
    line-height: 1.5;
    color: rgb(210, 193, 193);
    text-align: left;
}
.par_lorem-4{
    font-size: 20px;
    line-height: 1.5;
    color: rgb(210, 193, 193);
    text-align: left;
}
.par_lorem-5{
    font-size: 20px;
    line-height: 1.5;
    color: rgb(210, 193, 193);
    text-align: left;
}
.par_lorem-6{
    font-size: 20px;
    line-height: 1.5;
    color: rgb(210, 193, 193);
    text-align: left;
}.par_lorem-7{
    font-size: 20px;
    line-height: 1.5;
    color: rgb(210, 193, 193);
    text-align: left;
}
.par_lorem-8{
    font-size: 20px;
    line-height: 1.5;
    color: rgb(210, 193, 193);
    text-align: left;
    margin-left: -50px;

}
.par_lorem-9{
    font-size: 20px;
    line-height: 1.5;
    color: rgb(134, 128, 128);
    margin-top: 50px;
    margin-left: 50px;

}
.par_lorem-10{
    font-size: 20px;
    line-height: 1.5;
    color: rgb(134, 128, 128);
    margin-top: 20px;
    margin-left: 20px;

}
.par_lorem-11{
    font-size: 20px;
    line-height: 1.5;
    color: rgb(134, 128, 128);
    margin-top: 20px;

}
.par_lorem-12{
    font-size: 20px;
    line-height: 1.5;
    color: rgb(134, 128, 128);
    margin-top: 20px;

}
.par_lorem-13{
    font-size: 30px;
    line-height: 1.5;
    color: rgb(134, 128, 128);
    margin-top: 20px;
    margin-left: 20%;

}
.fullbutton{
    padding: 15px 45px;
    font-size: 18px;
    font-weight: 500;
    border-color: rgb(13, 0, 198);
    box-shadow: rgb(7 0 147 / 19%) 0px 5px 15px 0px;
    color: rgb(255, 255, 255);
    background-color: blue;
    border-radius: 25px;
    margin-top: 20px;
    text-decoration: none;

}

#about_img{

    max-width: max-content;;
    height: 500px;
    margin-left: -200px;
}
.more{
    font-size: 25px;
    font-weight: 700;
    color: antiquewhite;
    border-bottom: 2px solid rgb(28, 79, 233);
    text-decoration: none;
}
.service{
    background-color: rgb(41, 59, 56);
    border-radius: 50%;
}

.icon{
    padding: 15px 15px;
    font-size: 25;
    font-weight: 100;
    border-color: rgb(13, 0, 198);
    box-shadow: rgb(7 0 147 / 19%) 0px 5px 15px 0px;
    color: rgb(255, 255, 255);
    background-color: blue;
    border-radius: 50px;
    margin-bottom: 100px;
    text-decoration: none;
}
.icon-2{
    padding: 15px 15px;
    font-size: 25;
    font-weight: 100;
    border-color: rgb(13, 0, 198);
    box-shadow: rgb(7 0 147 / 19%) 0px 5px 15px 0px;
    color: rgb(255, 255, 255);
    background-color: blue;
    border-radius: 50px;
    margin-top: 100px;
    text-decoration: none;
}

#future-1{
    margin-top: 100px;
}
#future-2{
    margin-top: 100px;
}
.future-3{
    margin-top: 100px;
    margin-left: 20px;
}
.list{
    content:  "\2713";
};
#true-mark {
    color: rgb(70, 70, 210);
    margin-bottom:30px ;
}
.icon-1{
    margin-left: 125px;
    padding-top: 50px;
    width: 125px;
}
.circle{
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 100%;
}
.text-box{
    box-shadow: rgb(2 3 3 / 4%) 0px 3px 24px 3px;
    border-bottom-color: rgb(13, 0, 198);
    border-bottom: 3px solid #6c63ff;
}
#img-behind{
    background-color: #f0f6fb;
    border-radius: 50%;
    width: max-content;
    height: max-content;
}
.col-lg-2{
    margin-top: 75px;

}
.image_title-1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: inline-block;
    transform: rotate(180deg);
    font-size: 25px;
    font-weight: 600;
    color: rgb(230, 227, 227);
    margin-top: 60px;
    margin-left: -25px;

}
.image_title-2 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    color: rgb(230, 227, 227);
    margin-top: -70px;
    margin-left: -40px;

}
.image_title-3 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: inline-block;
    transform: rotate(180deg);
    font-size: 25px;
    font-weight: 600;
    color: rgb(230, 227, 227);
    margin-top: 175px;
    margin-left: 150px;

}
.image_title-4 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    color: rgb(230, 227, 227);
    margin-top: -0px;
    margin-left: -35px;

}

#team-img1{
    height: 300px;
    width: 250px;
    margin-left: -50px;
}
#team-img2{
    height: 300px;
    width: 250px;
    /* margin-right: -20px; */
}
#team-img3{
    height: 350px;
    width: 250px;
    margin-left:-40px ;
}
#team-img4{
    height: 350px;
    width: 250px;
    margin-left:-25px ;
}
.container-background{
    background-color: #f0f6fb;
    height: 300px;
    margin-bottom: -500px;
    border-bottom-left-radius:35%;
    border-bottom-right-radius:35%;
}
.card{
width: 17rem;
/* padding-right: 5%;
padding-left: 5%; */
}
.card img:hover{

    transform:scale(1.03);
}
.card-text1{
    font-size:30px ;
    font-weight: 400px;
    color: rgba(255, 253, 229, 0.6);
}
.card-text2{
    font-size:20px ;
    font-weight: 900px;
}